/*
 * Import nib
 */
/*
 * Grab a custom font from Google
 */
@import url("http://fonts.googleapis.com/css?family=Quicksand");
/*
 * Nib provides a CSS reset
 */
/*
 * Store the main color and
 * background color as variables
 */
header {
  font-family: 'Quicksand';
  padding: 1px 10px;
  color: #fff;
  font-size: 20px;
  text-align: center;
/*
   * Note the use of the `main-color`
   * variable and the `darken` function
   */
  background-color: #fa5b4d;
  border-bottom: 1px solid #df1806;
  text-shadow: 0px -1px 0px #df1806;
}
header a {
  color: #fff;
}
header img {
  padding: 30px 10px 0px 10px;
}
header h1 {
  padding: 1px 10px;
  font-size: 200%;
}
footer {
  width: 90%;
  margin: 50px auto;
  border-top: 1px dotted #ccc;
  padding-top: 5px;
  font-size: 13px;
}
h2 {
  color: #fa5b4d;
}
hr.lecture {
  margin: 2px 0;
  border-top: 1px solid #fa5b4d;
}
p.first {
  padding: 20px 0px 0px 0px;
}
